.personalProfileCard {
  border: 2px solid #797eab;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  max-width: 70%;
  min-width: 350px;
  justify-content: center;
  margin: auto;
  /* background-color: #c9cef8; */
  background-color: #b9bcd6;
}
.basicInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1% 1% 1% 1%;
  /* border: 1px solid gray; */
  /* border-radius: 16px; */
}
.basicInfoText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
}
.basicInfoUsername {
  /* color: #f0f1ff; */
  font-size: 300%;
}
.basicInfoFullname {
  /* color: #dbdefaa8; */
  font-size: 175%;
  color: gray;
}
.information {
  font-size: larger;
  /* color: #dbdefa; */
  display: flex;
  flex-direction: column;
  column-gap: 1px;
  padding: 1% 4% 1% 4%;
  border: 2px solid #797eab;
  border-radius: 16px;
}
.infoRows {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.infoTag {
  display: flex;
  font-weight: bolder;
  margin-top: 4px;
  margin-bottom: 4px;
}
.infoContent {
  display: flex;
  margin-top: 4px;
  margin-bottom: 4px;
}
