.container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.container > p {
  margin-left: 10px;
}
.threadCards {
  background-color: rgb(128, 128, 128, 0.2);
  margin-bottom: 10px;
  padding: 5px 5px 5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2.5px 7.5px;
  min-width: 500px;
  transition-duration: 0.2s;
  transform: scale(1);
  backface-visibility: hidden;
  margin-right: 0px;
}
.threadCards:hover {
  backface-visibility: hidden;
  cursor: pointer;
  transform: scale(1.01);
  transition-duration: 0.2s;
  box-shadow: rgba(3, 0, 175, 0.35) 0px 2.5px 7.5px;
}
.threadCardUserInfo {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}
.threadCardTitle {
  font-size: larger;
  font-weight: bolder;
  word-wrap: break-word;
}
.siteContainer {
  max-width: 1000px;
  padding-left: 10%;
  position: static;
}
.threadsContainer {
  /* position:relative;
  max-width: 1000px; */
  width: 50%;
  margin: 0 auto;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  row-gap: 16px;
}
.commentField {
  margin-top: 2%;
  padding-top: 25px;
  padding-bottom: 33px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 5px;
  min-width: 500px;
  background-color: rgb(128, 128, 128, 0.2);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.textField {
  background-color: white;
  width: 100%;
}
.commentCard {
  background-color: rgb(128, 128, 128, 0.2);
  margin-bottom: 3%;
  padding: 5px 5px 5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2.5px 7.5px;
  min-width: 500px;
}
.commentUserInfo {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: larger;
  gap: 10px;
  padding-bottom: 5px;
}
.commentContent {
  padding-top: 5px;
  white-space: pre-wrap;
  margin-bottom: 5px;
  min-height: 30px;
  word-wrap: break-word;
}
.commentAuthor {
  font-weight: bolder;
  transition: color 0.15s ease-out;
}
.commentAuthor:hover {
  color: rgb(27, 67, 175);
  cursor: pointer;
  /* text-decoration: underline; */
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  background-color: #6d6d6d;
  border: #6d6d6d;
}
.timePosted {
  display: flex;
  padding-right: 5px;
  align-items: center;
  font-size: smaller;
  color: gray;
  margin-left: auto;
  justify-content: space-between;
}
.profileContainer {
  /* display: flex; */
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: lightgray;
  background-color: rgb(128, 128, 128, 0.2);
  margin: 0 auto;
  max-width: 500px;
  padding: 5px 5px 5px 5px;
}
.profileContainerAvatar {
  display: flex;
  /* padding-left: 5px; */
  align-items: center;

  /* margin-left: 5px; */
  gap: 5px;
}
.appBackground {
  background-color: #eaeaea;
}
